<img src="assets/Bienvenido.png" alt="banner de bienvenida">

<h1>Noticias actuales</h1>

<h3>¿Qué aporte brinda el diseño gráfico en la actualidad?</h3>
<p> El diseño gráfico, en la actualidad, desarrolla un papel muy importante en el marketing y la transmisión de ideas. Se trata de una forma de comunicación en auge y cuya utilidad es indiscutible en entornos como el marketing, las redes sociales o la publicidad.

En concreto, el diseño gráfico se utiliza en:

Comunicación visual: el diseño gráfico facilita la transmisión de mensaje a través de elementos visuales como la tipografía, los colores o el uso del espacio.
Identidad de marca: la creación de una paleta de colores, imágenes visuales y la tipografía permite dibujar el perfil y el tono de una marca.
Experiencia de usuario: diseñar sitios web eficientes y que no estén sobrecargados de información también es trabajo del diseñador.
Diseño editorial: esto incluye las portadas de libros, distribución de revistas, organización de contenido digital…
Arte y expresión visual: el diseño también es una forma de arte y, como tal, permite expresar ideas abstractas, sentimientos, reivindicaciones, etc. </p>

<h4>Tendencias actuales de diseño gráfico</h4>
<p>Para poder cumplir con todas sus funciones, el diseño gráfico debe estar en constante actualización y en sintonía con los tiempos actuales. Por eso, las tendencias del diseño gráfico se renuevan cada año.

Este 2023, con el Metaverso y el contexto complejo que experimentamos desde hace un par de años, se prevé que el diseño gráfico gire en torno a:

<li>El uso de personajes en 3D como soporte y atractivo publicitario</li>
<li>Mezcla entre elementos en 2D y elementos en 3D</li>
<li>Uso de colores dulces que transmitan sensaciones positivas</li>
<li>Diseño holográfico</li>
<li>Fuentes psicodélicas</li>
<li>La inclusión cada vez está más en el foco</li>
<li>Vuelven las ilustraciones a mano o personalizadas</li>
<li>Se valoran más los colores apagados propios de la naturaleza</li>
<li>Uso de tipografías grandes, atrevidas y que destaquen</li>
<li>Ante diseños futuristas, regresa también la tendencia nostálgica de los 80 y 90</li>
<li>Las tipografías extrañas, retorcidas o graciosas</li>
<li>Preferencia por las formas geométricas</li>
<li>Siguen reinando el vidrio y los cristales como elementos destacados</li>
</p>

<h2>¿Qué esperas para anotarte en nuestra universidad? Sé tendencia.</h2>

  
